<!DOCTYPE html>
<html lang="zh-cmn-Hant">
<head>
	<title>imooc-shop</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="renderer" content="webkit">
</head>
<body>
	<%= headerDiv %>
	<%= bannerDiv %>
	<div class="content">
		<div class="content-item">
			<div class="content-header">
				<img src="${require('../../../assets/images/content-icon.png')}" alt="" class="icon">
				<h3 class="title">家用电脑</h3>
				<a href="" class="more">更多&gt;&gt;</a>
			</div>
			<div class="content-main clear-fixed">
				<div class="content-banner">
					<ul class="banner-ul clear-fixed">
						<li class="banner-item"><a href=""><img src="${require('../../../assets/images/content_banner.png')}" alt=""></a></li>
						<li class="banner-item"><a href=""><img src="${require('../../../assets/images/content_banner.png')}" alt=""></a></li>
						<li class="banner-item"><a href=""><img src="${require('../../../assets/images/content_banner.png')}" alt=""></a></li>
					</ul>
					<ul class="banner-controller clear-fixed">
						<li class="control-item"></li>
					</ul>
				</div>
				<div class="good-wrapper">
					<ul class="top-list">
						<li class="top-item">
							<a href="">
								<div class="img-wrapper"><img src="${require('../../../assets/images/phone.png')}" alt="" class="good-img"></div>
								<div class="good-des">HTC新渴望8系列</div>
								<div class="good-price">1899元</div>
							</a>
						</li>
						<li class="top-item">
							<a href="">
								<div class="img-wrapper"><img src="${require('../../../assets/images/phone.png')}" alt="" class="good-img"></div>
								<div class="good-des">HTC新渴望8系列</div>
								<div class="good-price">1899元</div>
							</a>
						</li>
						<li class="top-item">
							<a href="">
								<div class="img-wrapper"><img src="${require('../../../assets/images/phone.png')}" alt="" class="good-img"></div>
								<div class="good-des">HTC新渴望8系列</div>
								<div class="good-price">1899元</div>
							</a>
						</li>
						<li class="top-item">
							<a href="">
								<div class="img-wrapper"><img src="${require('../../../assets/images/phone.png')}" alt="" class="good-img"></div>
								<div class="good-des">HTC新渴望8系列</div>
								<div class="good-price">1899元</div>
							</a>
						</li>
					</ul>
					<ul class="bottom-list">
						<li class="bottom-item"><a href="">
							<div class="img-wrapper"><img src="${require('../../../assets/images/electronics_1.png')}" alt="" class="good-img"></div>
							<div class="content-wrapper">
								<div class="good-des">NFC技术一碰轻松配对！接触屏幕</div>
								<div class="good-price">￥99.00</div>
							</div>
						</a></li>
						<li class="bottom-item"><a href="">
							<div class="img-wrapper"><img src="${require('../../../assets/images/electronics_2.png')}" alt="" class="good-img"></div>
							<div class="content-wrapper">
								<div class="good-des">NFC技术一碰轻松配对！接触屏幕</div>
								<div class="good-price">￥99.00</div>
							</div>
						</a></li>
						<li class="bottom-item"><a href="">
							<div class="img-wrapper"><img src="${require('../../../assets/images/electronics_3.png')}" alt="" class="good-img"></div>
							<div class="content-wrapper">
								<div class="good-des">NFC技术一碰轻松配对！接触屏幕</div>
								<div class="good-price">￥99.00</div>
							</div>
						</a></li>
						<li class="bottom-item"><a href="">
							<div class="img-wrapper"><img src="${require('../../../assets/images/electronics_4.png')}" alt="" class="good-img"></div>
							<div class="content-wrapper">
								<div class="good-des">NFC技术一碰轻松配对！接触屏幕</div>
								<div class="good-price">￥99.00</div>
							</div>
						</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="content-item">
			<div class="content-header">
				<img src="${require('../../../assets/images/content-icon.png')}" alt="" class="icon">
				<h3 class="title">食品饮料</h3>
				<a href="" class="more">更多&gt;&gt;</a>
			</div>
			<div class="content-main clear-fixed">
				<div class="content-banner">
					<ul class="banner-ul clear-fixed">
						<li class="banner-item"><a href=""><img src="${require('../../../assets/images/food_banner.png')}" alt=""></a></li>
						<li class="banner-item"><a href=""><img src="${require('../../../assets/images/food_banner.png')}" alt=""></a></li>
						<li class="banner-item"><a href=""><img src="${require('../../../assets/images/food_banner.png')}" alt=""></a></li>
					</ul>
					<ul class="banner-controller clear-fixed">
						<li class="control-item"></li>
					</ul>
				</div>
				<div class="good-wrapper">
					<ul class="top-list">
						<li class="top-item">
							<a href="">
								<div class="img-wrapper"><img src="${require('../../../assets/images/food.png')}" alt="" class="good-img"></div>
								<div class="good-des">HTC新渴望8系列</div>
								<div class="good-price">1899元</div>
							</a>
						</li>
						<li class="top-item">
							<a href="">
								<div class="img-wrapper"><img src="${require('../../../assets/images/food.png')}" alt="" class="good-img"></div>
								<div class="good-des">HTC新渴望8系列</div>
								<div class="good-price">1899元</div>
							</a>
						</li>
						<li class="top-item">
							<a href="">
								<div class="img-wrapper"><img src="${require('../../../assets/images/food.png')}" alt="" class="good-img"></div>
								<div class="good-des">HTC新渴望8系列</div>
								<div class="good-price">1899元</div>
							</a>
						</li>
						<li class="top-item">
							<a href="">
								<div class="img-wrapper"><img src="${require('../../../assets/images/food.png')}" alt="" class="good-img"></div>
								<div class="good-des">HTC新渴望8系列</div>
								<div class="good-price">1899元</div>
							</a>
						</li>
					</ul>
					<ul class="bottom-list">
						<li class="bottom-item"><a href="">
							<div class="img-wrapper"><img src="${require('../../../assets/images/electronics_1.png')}" alt="" class="good-img"></div>
							<div class="content-wrapper">
								<div class="good-des">NFC技术一碰轻松配对！接触屏幕</div>
								<div class="good-price">￥99.00</div>
							</div>
						</a></li>
						<li class="bottom-item"><a href="">
							<div class="img-wrapper"><img src="${require('../../../assets/images/electronics_2.png')}" alt="" class="good-img"></div>
							<div class="content-wrapper">
								<div class="good-des">NFC技术一碰轻松配对！接触屏幕</div>
								<div class="good-price">￥99.00</div>
							</div>
						</a></li>
						<li class="bottom-item"><a href="">
							<div class="img-wrapper"><img src="${require('../../../assets/images/electronics_3.png')}" alt="" class="good-img"></div>
							<div class="content-wrapper">
								<div class="good-des">NFC技术一碰轻松配对！接触屏幕</div>
								<div class="good-price">￥99.00</div>
							</div>
						</a></li>
						<li class="bottom-item"><a href="">
							<div class="img-wrapper"><img src="${require('../../../assets/images/electronics_4.png')}" alt="" class="good-img"></div>
							<div class="content-wrapper">
								<div class="good-des">NFC技术一碰轻松配对！接触屏幕</div>
								<div class="good-price">￥99.00</div>
							</div>
						</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<%= footerDiv %>

</body>
</html>