<!-- 头部开始 -->
<div class="header">
	<div class="header-top clear-fixed" >
		<div class="top-left"><a href="javascript:addFavorite()">收藏慕课网</a></div>
		<div class="top-right">欢迎来到慕课网!<a href="javascript:login()">[登录]</a><a href="javascript:signup()">[免费注册]</a></div>
	</div>
	<div class="header-main">
		<div class="logo-wrapper">
			<img src="../../../assets/images/logo.png" alt="imoocShop" class="logo">
			<div class="shop-cart clear-fixed">
				<span class="cart-des">购物车</span><span class="cart-count">0</span>
			</div>
			<form action="search.jsp" method="get" class="search">
				<input type="text" class="search-txt"><input type="submit" value="搜索" class="search-submit">
			</form>
		</div>
	</div>
	<!-- 一级菜单开始 -->
	<div class="menu">
		<div class="menu-content">
			<div class="menu-wrapper clear-fixed">
				<div class="total-wrapper">
					<h2 class="total-menu">全部商品分类</h2>
					<ul class="left-menu">
						<li>
							<ul class="class-list clear-fixed">
								<h3 class="class-title">手机 数码</h3>
								<li class="class-item"><a href="#">合约机</a></li>
								<li class="class-item"><a href="#">荣耀4x </a></li>
								<li class="class-item"><a href="#">单反</a></li>
								<li class="class-item"><a href="#">智能设备</a></li>
								<div class="kind-wrapper">
									<dl class="kind-item clear-fixed">
										<dt class="kind-des">电脑整机</dt>
										<dd class="key-wrapper">
											<ul class="clear-fixed">
												<li class="key-item"><a href="#">笔记本</a></li>
												<li class="key-item"><a href="#">超极本</a></li>
												<li class="key-item"><a href="#">上网本</a></li>
												<li class="key-item"><a href="#">台式机</a></li>
											</ul>
										</dd>
									</dl>
									<dl class="kind-item clear-fixed">
										<dt class="kind-des">装机配件</dt>
										<dd class="key-wrapper">
											<ul class="clear-fixed">
												<li class="key-item"><a href="#">笔记本</a></li>
												<li class="key-item"><a href="#">超极本</a></li>
												<li class="key-item"><a href="#">上网本</a></li>
												<li class="key-item"><a href="#">台式机</a></li>
												<li class="key-item"><a href="#">笔记本</a></li>
												<li class="key-item"><a href="#">超极本</a></li>
												<li class="key-item"><a href="#">上网本</a></li>
												<li class="key-item"><a href="#">台式机</a></li>
												<li class="key-item"><a href="#">笔记本</a></li>
												<li class="key-item"><a href="#">超极本</a></li>
												<li class="key-item"><a href="#">上网本</a></li>
												<li class="key-item"><a href="#">台式机</a></li>
											</ul>
										</dd>
									</dl>
									<dl class="kind-item clear-fixed">
										<dt class="kind-des">电脑外设</dt>
										<dd class="key-wrapper">
											<ul class="clear-fixed">
												<li class="key-item"><a href="#">笔记本</a></li>
												<li class="key-item"><a href="#">超极本</a></li>
												<li class="key-item"><a href="#">上网本</a></li>
												<li class="key-item"><a href="#">台式机</a></li>
											</ul>
										</dd>
									</dl>
									<ul class="channel-list clear-fixed">
										<li class="channel clear-fixed"><a href="#">电脑整机频道</a><img class="icon" src="../../../assets/images/right_arrow.png" alt=""></li>
										<li class="channel clear-fixed"><a href="">硬件/外设频道</a><img class="icon" src="../../../assets/images/right_arrow.png" alt=""></li>
									</ul>
								</div>
							</ul>
						</li>
						<li>
							<ul class="class-list clear-fixed">
								<h3 class="class-title">电脑 硬件外设</h3>
								<li class="class-item"><a href="#">装机宝</a></li>
								<li class="class-item"><a href="#">台式机</a></li>
								<li class="class-item"><a href="#">笔记本</a></li>
								<li class="class-item"><a href="#">平板</a></li>
								<div class="kind-wrapper">
									<dl class="kind-item clear-fixed">
										<dt class="kind-des">电脑整机</dt>
										<dd class="key-wrapper">
											<ul class="clear-fixed">
												<li class="key-item"><a href="#">笔记本</a></li>
												<li class="key-item"><a href="#">超极本</a></li>
												<li class="key-item"><a href="#">上网本</a></li>
												<li class="key-item"><a href="#">台式机</a></li>
											</ul>
										</dd>
									</dl>
									<dl class="kind-item clear-fixed">
										<dt class="kind-des">装机配件</dt>
										<dd class="key-wrapper">
											<ul class="clear-fixed">
												<li class="key-item"><a href="#">笔记本</a></li>
												<li class="key-item"><a href="#">超极本</a></li>
												<li class="key-item"><a href="#">上网本</a></li>
												<li class="key-item"><a href="#">台式机</a></li>
												<li class="key-item"><a href="#">笔记本</a></li>
												<li class="key-item"><a href="#">超极本</a></li>
												<li class="key-item"><a href="#">上网本</a></li>
												<li class="key-item"><a href="#">台式机</a></li>
												<li class="key-item"><a href="#">笔记本</a></li>
												<li class="key-item"><a href="#">超极本</a></li>
												<li class="key-item"><a href="#">上网本</a></li>
												<li class="key-item"><a href="#">台式机</a></li>
											</ul>
										</dd>
									</dl>
									<dl class="kind-item clear-fixed">
										<dt class="kind-des">电脑外设</dt>
										<dd class="key-wrapper">
											<ul class="clear-fixed">
												<li class="key-item"><a href="#">笔记本</a></li>
												<li class="key-item"><a href="#">超极本</a></li>
												<li class="key-item"><a href="#">上网本</a></li>
												<li class="key-item"><a href="#">台式机</a></li>
											</ul>
										</dd>
									</dl>
									<ul class="channel-list clear-fixed">
										<li class="channel clear-fixed"><a href="#">电脑整机频道</a><img class="icon" src="../../../assets/images/right_arrow.png" alt=""></li>
										<li class="channel clear-fixed"><a href="">硬件/外设频道</a><img class="icon" src="../../../assets/images/right_arrow.png" alt=""></li>
									</ul>
								</div>
							</ul>
						</li>
						<li>
							<ul class="class-list clear-fixed">
								<h3 class="class-title">大家电</h3>
								<li class="class-item"><a href="#">洗衣机</a></li>
								<li class="class-item"><a href="#">电视</a></li>
								<li class="class-item"><a href="#">冰箱</a></li>
								<li class="class-item"><a href="#">空调</a></li>
								<div class="kind-wrapper">
									<dl class="kind-item clear-fixed">
										<dt class="kind-des">电脑整机</dt>
										<dd class="key-wrapper">
											<ul class="clear-fixed">
												<li class="key-item"><a href="#">笔记本</a></li>
												<li class="key-item"><a href="#">超极本</a></li>
												<li class="key-item"><a href="#">上网本</a></li>
												<li class="key-item"><a href="#">台式机</a></li>
											</ul>
										</dd>
									</dl>
									<dl class="kind-item clear-fixed">
										<dt class="kind-des">装机配件</dt>
										<dd class="key-wrapper">
											<ul class="clear-fixed">
												<li class="key-item"><a href="#">笔记本</a></li>
												<li class="key-item"><a href="#">超极本</a></li>
												<li class="key-item"><a href="#">上网本</a></li>
												<li class="key-item"><a href="#">台式机</a></li>
												<li class="key-item"><a href="#">笔记本</a></li>
												<li class="key-item"><a href="#">超极本</a></li>
												<li class="key-item"><a href="#">上网本</a></li>
												<li class="key-item"><a href="#">台式机</a></li>
												<li class="key-item"><a href="#">笔记本</a></li>
												<li class="key-item"><a href="#">超极本</a></li>
												<li class="key-item"><a href="#">上网本</a></li>
												<li class="key-item"><a href="#">台式机</a></li>
											</ul>
										</dd>
									</dl>
									<dl class="kind-item clear-fixed">
										<dt class="kind-des">电脑外设</dt>
										<dd class="key-wrapper">
											<ul class="clear-fixed">
												<li class="key-item"><a href="#">笔记本</a></li>
												<li class="key-item"><a href="#">超极本</a></li>
												<li class="key-item"><a href="#">上网本</a></li>
												<li class="key-item"><a href="#">台式机</a></li>
											</ul>
										</dd>
									</dl>
									<ul class="channel-list clear-fixed">
										<li class="channel clear-fixed"><a href="#">电脑整机频道</a><img class="icon" src="../../../assets/images/right_arrow.png" alt=""></li>
										<li class="channel clear-fixed"><a href="">硬件/外设频道</a><img class="icon" src="../../../assets/images/right_arrow.png" alt=""></li>
									</ul>
								</div>
							</ul>
						</li>
						<li>
							<ul class="class-list clear-fixed">
								<h3 class="class-title">厨房电器 生活电器</h3>
								<li class="class-item"><a href="#">空气净化器</a></li>
								<li class="class-item"><a href="#">微波炉</a></li>
								<div class="kind-wrapper">
									<dl class="kind-item clear-fixed">
										<dt class="kind-des">电脑整机</dt>
										<dd class="key-wrapper">
											<ul class="clear-fixed">
												<li class="key-item"><a href="#">笔记本</a></li>
												<li class="key-item"><a href="#">超极本</a></li>
												<li class="key-item"><a href="#">上网本</a></li>
												<li class="key-item"><a href="#">台式机</a></li>
											</ul>
										</dd>
									</dl>
									<dl class="kind-item clear-fixed">
										<dt class="kind-des">装机配件</dt>
										<dd class="key-wrapper">
											<ul class="clear-fixed">
												<li class="key-item"><a href="#">笔记本</a></li>
												<li class="key-item"><a href="#">超极本</a></li>
												<li class="key-item"><a href="#">上网本</a></li>
												<li class="key-item"><a href="#">台式机</a></li>
												<li class="key-item"><a href="#">笔记本</a></li>
												<li class="key-item"><a href="#">超极本</a></li>
												<li class="key-item"><a href="#">上网本</a></li>
												<li class="key-item"><a href="#">台式机</a></li>
												<li class="key-item"><a href="#">笔记本</a></li>
												<li class="key-item"><a href="#">超极本</a></li>
												<li class="key-item"><a href="#">上网本</a></li>
												<li class="key-item"><a href="#">台式机</a></li>
											</ul>
										</dd>
									</dl>
									<dl class="kind-item clear-fixed">
										<dt class="kind-des">电脑外设</dt>
										<dd class="key-wrapper">
											<ul class="clear-fixed">
												<li class="key-item"><a href="#">笔记本</a></li>
												<li class="key-item"><a href="#">超极本</a></li>
												<li class="key-item"><a href="#">上网本</a></li>
												<li class="key-item"><a href="#">台式机</a></li>
											</ul>
										</dd>
									</dl>
									<ul class="channel-list clear-fixed">
										<li class="channel clear-fixed"><a href="#">电脑整机频道</a><img class="icon" src="../../../assets/images/right_arrow.png" alt=""></li>
										<li class="channel clear-fixed"><a href="">硬件/外设频道</a><img class="icon" src="../../../assets/images/right_arrow.png" alt=""></li>
									</ul>
								</div>
							</ul>
						</li>
						<li>
							<ul class="class-list clear-fixed">
								<h3 class="class-title">食品/饮料/生鲜</h3>
								<li class="class-item"><a href="#">粮油</a></li>
								<li class="class-item"><a href="#">进口</a></li>
								<li class="class-item"><a href="#">方便面</a></li>
								<li class="class-item"><a href="#">零食</a></li>
								<div class="kind-wrapper">
									<dl class="kind-item clear-fixed">
										<dt class="kind-des">电脑整机</dt>
										<dd class="key-wrapper">
											<ul class="clear-fixed">
												<li class="key-item"><a href="#">笔记本</a></li>
												<li class="key-item"><a href="#">超极本</a></li>
												<li class="key-item"><a href="#">上网本</a></li>
												<li class="key-item"><a href="#">台式机</a></li>
											</ul>
										</dd>
									</dl>
									<dl class="kind-item clear-fixed">
										<dt class="kind-des">装机配件</dt>
										<dd class="key-wrapper">
											<ul class="clear-fixed">
												<li class="key-item"><a href="#">笔记本</a></li>
												<li class="key-item"><a href="#">超极本</a></li>
												<li class="key-item"><a href="#">上网本</a></li>
												<li class="key-item"><a href="#">台式机</a></li>
												<li class="key-item"><a href="#">笔记本</a></li>
												<li class="key-item"><a href="#">超极本</a></li>
												<li class="key-item"><a href="#">上网本</a></li>
												<li class="key-item"><a href="#">台式机</a></li>
												<li class="key-item"><a href="#">笔记本</a></li>
												<li class="key-item"><a href="#">超极本</a></li>
												<li class="key-item"><a href="#">上网本</a></li>
												<li class="key-item"><a href="#">台式机</a></li>
											</ul>
										</dd>
									</dl>
									<dl class="kind-item clear-fixed">
										<dt class="kind-des">电脑外设</dt>
										<dd class="key-wrapper">
											<ul class="clear-fixed">
												<li class="key-item"><a href="#">笔记本</a></li>
												<li class="key-item"><a href="#">超极本</a></li>
												<li class="key-item"><a href="#">上网本</a></li>
												<li class="key-item"><a href="#">台式机</a></li>
											</ul>
										</dd>
									</dl>
									<ul class="channel-list clear-fixed">
										<li class="channel clear-fixed"><a href="#">电脑整机频道</a><img class="icon" src="../../../assets/images/right_arrow.png" alt=""></li>
										<li class="channel clear-fixed"><a href="">硬件/外设频道</a><img class="icon" src="../../../assets/images/right_arrow.png" alt=""></li>
									</ul>
								</div>
							</ul>
						</li>
					</ul>
				</div>
				<!-- 导航开始 -->
				<ul class="menu-list clear-fixed">
					<li class="menu-item current-menu"><a href="#">数码城</a></li>
					<li class="menu-item"><a href="#">天黑黑</a></li>
					<li class="menu-item"><a href="#">团购</a></li>
					<li class="menu-item"><a href="#">发现</a></li>
					<li class="menu-item"><a href="#">二手转卖</a></li>
					<li class="menu-item"><a href="#">名品会</a></li>
				</ul>
				<!-- 导航结束 -->
			</div>
		</div>
	</div>
	<!-- 一级菜单结束 -->
</div>
<!-- 头部结束 -->