<!-- footer开始 -->
<div class="footer">
	<div class="info-list">
		<a href="">慕课简介</a>
		<a href="">慕课公告</a>
		<a href="">招贤纳士</a>
		<a href="">联系我们</a>
		<a href="">电话：239u291u9284</a>
	</div>
	<div class="copy-right">
		<a href="">Copyright © 2006 - 2014 慕课版权所有</a>
		<a href="">京ICP备09037834号 </a>
		<a href="">京ICP证B1034-8373号</a>
		<a href="">某市公安局XX分局备案编号：123456789123</a>
	</div>
	<div class="icon-list">
		<a href=""><img src="${require('../../../assets/images/reward.png')}" alt=""></a>
		<a href=""><img src="${require('../../../assets/images/reward.png')}" alt=""></a>
		<a href=""><img src="${require('../../../assets/images/reward.png')}" alt=""></a>
		<a href=""><img src="${require('../../../assets/images/reward.png')}" alt=""></a>
	</div>
</div>
<!-- footer结束 -->