<!-- baner开始 -->
<div class="banner">
	<div class="banner-wrapper">
		<ul class="banner-list clear-fixed">
			<li class="banner-item"><a href="#"><img src="${require('../../../assets/images/banner.png')}" alt="" class="banner-img"></a></li>
			<li class="banner-item"><a href="#"><img src="${require('../../../assets/images/banner.png')}" alt="" class="banner-img"></a></li>
			<li class="banner-item"><a href="#"><img src="${require('../../../assets/images/banner.png')}" alt="" class="banner-img"></a></li>
		</ul>
		<ul class="banner-control">
			<li class="control-item"></li>
		</ul>
	</div>
</div>
<!-- banner结束 -->